In [4]:
import pandas as pd
df = pd.read_csv("Check.csv")
df

,Pk_id,DeviceId,UserMobileNo,id,Mobaddress,sender,body,SMSdate,dateSent,kind,SMSread,CrtdDt,CrtdBy
0,1,ME12157,9182591745,15337,8838975819,8838975819,https://cossvr.novactech.in/apps/refer/friend....,09:42.0,30:00.0,SmsMessageKind.sent,True,29:46.7,9182591745
1,2,ME12157,9182591745,15292,9717465555,9717465555,HDFCUPIUAT dGp3fw0%2F3J5y8MU3bv%2BQoQnqN4jLBM5...,38:20.6,30:00.0,SmsMessageKind.sent,True,29:46.7,9182591745
2,3,ME12157,9182591745,15217,9717465555,9717465555,HDFCUPIUAT dGp3fw0%2F3J5y8MU3bv%2BQoQnqN4jLBM5...,22:54.6,30:00.0,SmsMessageKind.sent,True,29:46.7,9182591745
3,4,ME12157,9182591745,13522,VM-AxisBk,VM-AxisBk,Registration for Google Pay app has started. D...,22:28.3,22:28.0,SmsMessageKind.received,True,29:46.7,9182591745
4,5,asdfwe2342rqwerq,9182591745,15337,8838975819,8838975819,ICICI Bank Acc XX424 debited with INR 500.00 o...,09:42.0,30:00.0,SmsMessageKind.sent,True,52:16.7,9182591745
5,6,asdfwe2342rqwerq,9182591745,15292,9717465555,9717465555,INR 179.00 spent on ICICI Bank Card XX1008 on ...,38:20.6,30:00.0,SmsMessageKind.sent,True,52:16.7,9182591745
6,7,asdfwe2342rqwerq,9182591745,15217,9717465555,9717465555,AccountNo XXXXXX3406 CREDIT with amount Rs.110...,22:54.6,30:00.0,SmsMessageKind.sent,True,52:16.7,9182591745
7,8,asdfwe2342rqwerq,9182591745,13522,VM-AxisBk,VM-AxisBk,Debited INR.500.00 from A/c X2731 on 08-MAR-20...,22:28.3,22:28.0,SmsMessageKind.received,True,52:16.7,9182591745
8,9,asdfwe2342rqwerq,9182591745,13522,VM-AxisBk,VM-AxisBk,INR 500.00 debited from A/c XXXXXXXX3885 towar...,22:28.3,22:28.0,SmsMessageKind.received,True,52:16.7,9182591745
9,10,asdfwe2342rqwerq,9182591745,13522,VM-AxisBk,VM-AxisBk,Dear Customer statement for YES BANK Credit Ca...,22:28.3,22:28.0,SmsMessageKind.received,True,52:16.7,9182591745
10,11,asdfwe2342rqwerq,9182591745,13522,VM-AxisBk,VM-AxisBk,You've spent Rs.2514 On HDFC Bank CREDIT Card ...,22:28.3,22:28.0,SmsMessageKind.received,True,52:16.7,9182591745
11,12,asdfwe2342rqwerq,9182591745,13522,VM-AxisBk,VM-AxisBk,INR 230.00 spent on ICICI Bank Card XX1008 on ...,22:28.3,22:28.0,SmsMessageKind.received,True,52:16.7,9182591745

In [5]:
#create a dictionary to split the sms messages
Dict1 = {"UPI": ['UPI','upi','payment','phonpPe','paytm','mob bk','bhim app','mobikwik','google pay'], "ATM": ['ATM','withdraw','withdrawn','withdrawal','atm','atm withdrawal','atm withdraw','atm withdrawn'], "Card_payment": ['Credited','Received','RECEIVED','CREDIT'], "Online_transaction": ['mobile banking','online','Thanks for using','Online','debited','Debited'], "IMPS": ['imps'], 
         "NEFT": ['neft','transfer'],  "RTGS": ['rtgs'], "Insufficient_bal": ['insufficient','please maintain sufficient funds','avoid non-maintenance charges','avoid non maintenance charges',' non maintenance charges',
 'non-maintenance charges','not maintained balance','not maintained fund','not maintained funds','please maintain minimum balance',
 'insufficient balance','please ensure sufficient balance','beyond the available limit','over-limit','over limit',
 'credit limit crossed', 'insufficient balance','not sufficient money','not sufficient balance','maintain sufficient balance'
 'below the limit','immediate payment is required if previous statement dues are unpaid','emi bounce','cheque bounce','e-nach failed',
 'auto debited fail','auto debited failed due to insufficient balance','auto debit fail','auto debited failed',
 'please pay including the decimal value to avoid charges','payment due Date','due by','due amt','due amount',' non maintenance charge'], "EMI": ['emi'], "Investment": ['invest','nse','bse','nsdl','folio','port folio','cdsl','zeroda','paytm money','securities','stocks','stock','sip','mutual fund','scheme tax saver fund','mutual fund sip','investment','ppf'], 
          "Fast_tag": ['fastag'], "Income_tax": ['tax','itr','income tax','e-filing','e-verified','income tax department'], "EPF": ['epf','epf','uan','uan no','pf no'] , "Travel": ['bus', 'train','irctc','flight','redbus'],  "Ecommerce": ['Flipkart','Snapdeal','groceries','Amazon','Refund','AMAZON','Myntra','Nykaa','Zivame','Lenskart','Voonik','Koovs','TATA CLiQ','JioMart',
               'FirstCry','ebay','SWIGGY.','Limeroad','Shopclues','Naaptol','Yepme','Clovia','PrettySecrets','Hopscotch',
               'Lenskart','E-bay','HomeShop18','Lifestyle','AJIO','adidas','urbanic','mirraw','abof','TenderCuts',
               'Brand Factory','bigbasket','Reliance Retail', 'Trends','SMART Point','meesho','MagicBricks','Zomato'
               'MakeMYTrip','ClearTrip','TravelYaari','Tripadvisor','Goibibo','Sulekha.com','Via.com','IRCTC', 'Yatra', 
               'EaseMyTrip','RedBus','OYO Rooms','RedBus','Booking.com','lxigo','Riya Travel','Thomas cook',
               'HealthKart','1mg','PharmEasy','netmeds.com','Portesa','Practo','Apollo Pharmacy','Medlife','Hungama','Saavn',
               'Gaana.com','bookmyshow','OLA','UBER','PayTM','Infibeam','Moglix','Udaan','Naukri.com','Justdial','99acrs.com',
               'PropTiger','CaratLane','Droom','Carwale','CarTrade','Cars24','Quikr','Cashify','Insider.in','lapinoz',
               'Easydiner','Swiggy','Chai Point','Box8','Grubhub','Doordash','Uber Eats','Deliveroo','Foodpanda',
               'Postmates','Instacart','Gopuff','HelloFresh','Delivery Hero SE','Dunzo','ChowNow','Blue Apron','Eats24',
               'Wolt','Shipt','Faasos','BigBasket','Milkbasket','Grofers','indiamart','Livspace','pepperfry','urban ladder',
               'Urbanclap','Byju"s','UpGrad','Doubtnut','GradeUp','TestBook','Toppr','Unacademy','Vedantu','Edukart','Simplilearn',
               'Excelsoft','Great Learning','udemy','coursera','unacademy','BankBazaar','BLUE DART','DHL','ekart','aramex','Netmeds'] }
print(Dict1)

{'UPI': ['UPI', 'upi', 'payment', 'phonpPe', 'paytm', 'mob bk', 'bhim app', 'mobikwik', 'google pay'], 'ATM': ['ATM', 'withdraw', 'withdrawn', 'withdrawal', 'atm', 'atm withdrawal', 'atm withdraw', 'atm withdrawn'], 'Card_payment': ['Credited', 'Received', 'RECEIVED', 'CREDIT'], 'Online_transaction': ['mobile banking', 'online', 'Thanks for using', 'Online', 'debited', 'Debited'], 'IMPS': ['imps'], 'NEFT': ['neft', 'transfer'], 'RTGS': ['rtgs'], 'Insufficient_bal': ['insufficient', 'please maintain sufficient funds', 'avoid non-maintenance charges', 'avoid non maintenance charges', ' non maintenance charges', 'non-maintenance charges', 'not maintained balance', 'not maintained fund', 'not maintained funds', 'please maintain minimum balance', 'insufficient balance', 'please ensure sufficient balance', 'beyond the available limit', 'over-limit', 'over limit', 'credit limit crossed', 'insufficient balance', 'not sufficient money', 'not sufficient balance', 'maintain sufficient balancebelow the limit', 'immediate payment is required if previous statement dues are unpaid', 'emi bounce', 'cheque bounce', 'e-nach failed', 'auto debited fail', 'auto debited failed due to insufficient balance', 'auto debit fail', 'auto debited failed', 'please pay including the decimal value to avoid charges', 'payment due Date', 'due by', 'due amt', 'due amount', ' non maintenance charge'], 'EMI': ['emi'], 'Investment': ['invest', 'nse', 'bse', 'nsdl', 'folio', 'port folio', 'cdsl', 'zeroda', 'paytm money', 'securities', 'stocks', 'stock', 'sip', 'mutual fund', 'scheme tax saver fund', 'mutual fund sip', 'investment', 'ppf'], 'Fast_tag': ['fastag'], 'Income_tax': ['tax', 'itr', 'income tax', 'e-filing', 'e-verified', 'income tax department'], 'EPF': ['epf', 'epf', 'uan', 'uan no', 'pf no'], 'Travel': ['bus', 'train', 'irctc', 'flight', 'redbus'], 'Ecommerce': ['Flipkart', 'Snapdeal', 'groceries', 'Amazon', 'Refund', 'AMAZON', 'Myntra', 'Nykaa', 'Zivame', 'Lenskart', 'Voonik', 'Koovs', 'TATA CLiQ', 'JioMart', 'FirstCry', 'ebay', 'SWIGGY.', 'Limeroad', 'Shopclues', 'Naaptol', 'Yepme', 'Clovia', 'PrettySecrets', 'Hopscotch', 'Lenskart', 'E-bay', 'HomeShop18', 'Lifestyle', 'AJIO', 'adidas', 'urbanic', 'mirraw', 'abof', 'TenderCuts', 'Brand Factory', 'bigbasket', 'Reliance Retail', 'Trends', 'SMART Point', 'meesho', 'MagicBricks', 'ZomatoMakeMYTrip', 'ClearTrip', 'TravelYaari', 'Tripadvisor', 'Goibibo', 'Sulekha.com', 'Via.com', 'IRCTC', 'Yatra', 'EaseMyTrip', 'RedBus', 'OYO Rooms', 'RedBus', 'Booking.com', 'lxigo', 'Riya Travel', 'Thomas cook', 'HealthKart', '1mg', 'PharmEasy', 'netmeds.com', 'Portesa', 'Practo', 'Apollo Pharmacy', 'Medlife', 'Hungama', 'Saavn', 'Gaana.com', 'bookmyshow', 'OLA', 'UBER', 'PayTM', 'Infibeam', 'Moglix', 'Udaan', 'Naukri.com', 'Justdial', '99acrs.com', 'PropTiger', 'CaratLane', 'Droom', 'Carwale', 'CarTrade', 'Cars24', 'Quikr', 'Cashify', 'Insider.in', 'lapinoz', 'Easydiner', 'Swiggy', 'Chai Point', 'Box8', 'Grubhub', 'Doordash', 'Uber Eats', 'Deliveroo', 'Foodpanda', 'Postmates', 'Instacart', 'Gopuff', 'HelloFresh', 'Delivery Hero SE', 'Dunzo', 'ChowNow', 'Blue Apron', 'Eats24', 'Wolt', 'Shipt', 'Faasos', 'BigBasket', 'Milkbasket', 'Grofers', 'indiamart', 'Livspace', 'pepperfry', 'urban ladder', 'Urbanclap', 'Byju"s', 'UpGrad', 'Doubtnut', 'GradeUp', 'TestBook', 'Toppr', 'Unacademy', 'Vedantu', 'Edukart', 'Simplilearn', 'Excelsoft', 'Great Learning', 'udemy', 'coursera', 'unacademy', 'BankBazaar', 'BLUE DART', 'DHL', 'ekart', 'aramex', 'Netmeds']}

In [6]:
# Function to assign category to a message based on keywords
def assign_category(message):
    for category, keywords in Dict1.items():
        for keyword in keywords:
            if keyword in message:
                return category
    return "Uncategorized"

In [7]:
df['category'] = df['body'].apply(assign_category)

In [8]:
pd.set_option('display.max_columns', None)
df.to_csv("New1.csv")
print(df)

    Pk_id          DeviceId  UserMobileNo     id  Mobaddress      sender
0       1           ME12157    9182591745  15337  8838975819  8838975819  \
1       2           ME12157    9182591745  15292  9717465555  9717465555
2       3           ME12157    9182591745  15217  9717465555  9717465555
3       4           ME12157    9182591745  13522   VM-AxisBk   VM-AxisBk
4       5  asdfwe2342rqwerq    9182591745  15337  8838975819  8838975819
5       6  asdfwe2342rqwerq    9182591745  15292  9717465555  9717465555
6       7  asdfwe2342rqwerq    9182591745  15217  9717465555  9717465555
7       8  asdfwe2342rqwerq    9182591745  13522   VM-AxisBk   VM-AxisBk
8       9  asdfwe2342rqwerq    9182591745  13522   VM-AxisBk   VM-AxisBk
9      10  asdfwe2342rqwerq    9182591745  13522   VM-AxisBk   VM-AxisBk
10     11  asdfwe2342rqwerq    9182591745  13522   VM-AxisBk   VM-AxisBk
11     12  asdfwe2342rqwerq    9182591745  13522   VM-AxisBk   VM-AxisBk

                                                 body  SMSdate dateSent
0   https://cossvr.novactech.in/apps/refer/friend....  09:42.0  30:00.0  \
1   HDFCUPIUAT dGp3fw0%2F3J5y8MU3bv%2BQoQnqN4jLBM5...  38:20.6  30:00.0
2   HDFCUPIUAT dGp3fw0%2F3J5y8MU3bv%2BQoQnqN4jLBM5...  22:54.6  30:00.0
3   Registration for Google Pay app has started. D...  22:28.3  22:28.0
4   ICICI Bank Acc XX424 debited with INR 500.00 o...  09:42.0  30:00.0
5   INR 179.00 spent on ICICI Bank Card XX1008 on ...  38:20.6  30:00.0
6   AccountNo XXXXXX3406 CREDIT with amount Rs.110...  22:54.6  30:00.0
7   Debited INR.500.00 from A/c X2731 on 08-MAR-20...  22:28.3  22:28.0
8   INR 500.00 debited from A/c XXXXXXXX3885 towar...  22:28.3  22:28.0
9   Dear Customer statement for YES BANK Credit Ca...  22:28.3  22:28.0
10  You've spent Rs.2514 On HDFC Bank CREDIT Card ...  22:28.3  22:28.0
11  INR 230.00 spent on ICICI Bank Card XX1008 on ...  22:28.3  22:28.0

                       kind  SMSread   CrtdDt      CrtdBy            category
0       SmsMessageKind.sent     True  29:46.7  9182591745       Uncategorized
1       SmsMessageKind.sent     True  29:46.7  9182591745                 UPI
2       SmsMessageKind.sent     True  29:46.7  9182591745                 UPI
3   SmsMessageKind.received     True  29:46.7  9182591745       Uncategorized
4       SmsMessageKind.sent     True  52:16.7  9182591745  Online_transaction
5       SmsMessageKind.sent     True  52:16.7  9182591745           Ecommerce
6       SmsMessageKind.sent     True  52:16.7  9182591745        Card_payment
7   SmsMessageKind.received     True  52:16.7  9182591745  Online_transaction
8   SmsMessageKind.received     True  52:16.7  9182591745                 ATM
9   SmsMessageKind.received     True  52:16.7  9182591745                 UPI
10  SmsMessageKind.received     True  52:16.7  9182591745        Card_payment
11  SmsMessageKind.received     True  52:16.7  9182591745           Ecommerce

In [9]:
#Function to convert datetime into a unique format
from datetime import datetime

def parse_date(date_string):
    formats = ["%d-%b-%y", "%d-%b-%Y", "%d/%b/%y", "%d/%m/%y", "%d/%m/%Y", "%Y-%m-%d"]
    for fmt in formats:
        try:
            return datetime.strptime(date_string, fmt)
        except ValueError:
            pass
    raise ValueError(f"Invalid date format: {date_string}")

In [12]:
from datetime import datetime
import re

def dates1(text):
    date_format = "%Y-%m-%d"
    
    date_pattern = r'\b(\d{2}-\w{3}-\d{2}|\d{2}-\w{3}-\d{4}|\d{2}/\d{2}/\d{2}|\d{4}-\d{2}-\d{2})\b'
    date_values = []
    # for sentence in sentences:
    matches = re.findall(date_pattern, text)
    date_values.extend(matches)
    if date_values:
        datetime_object = parse_date(date_values[0])
        # datetime_object = datetime.strptime(datetime_object, "%Y-%m-%d %H:%M:%S")
        datetime_object = datetime.strptime(str(datetime_object), "%Y-%m-%d %H:%M:%S")
        date_only = datetime_object.date()
    # print(date_only)
        # datetime_object = datetime.strptime(date_values[0], date_format)
        return date_only
        # return date_values[0].to_datetime()
    else:
        return "not found"

df['Trandate'] = df['body'].apply(dates1)

In [13]:
df

,Pk_id,DeviceId,UserMobileNo,id,Mobaddress,sender,body,SMSdate,dateSent,kind,SMSread,CrtdDt,CrtdBy,category,Trandate
0,1,ME12157,9182591745,15337,8838975819,8838975819,https://cossvr.novactech.in/apps/refer/friend....,09:42.0,30:00.0,SmsMessageKind.sent,True,29:46.7,9182591745,Uncategorized,not found
1,2,ME12157,9182591745,15292,9717465555,9717465555,HDFCUPIUAT dGp3fw0%2F3J5y8MU3bv%2BQoQnqN4jLBM5...,38:20.6,30:00.0,SmsMessageKind.sent,True,29:46.7,9182591745,UPI,not found
2,3,ME12157,9182591745,15217,9717465555,9717465555,HDFCUPIUAT dGp3fw0%2F3J5y8MU3bv%2BQoQnqN4jLBM5...,22:54.6,30:00.0,SmsMessageKind.sent,True,29:46.7,9182591745,UPI,not found
3,4,ME12157,9182591745,13522,VM-AxisBk,VM-AxisBk,Registration for Google Pay app has started. D...,22:28.3,22:28.0,SmsMessageKind.received,True,29:46.7,9182591745,Uncategorized,not found
4,5,asdfwe2342rqwerq,9182591745,15337,8838975819,8838975819,ICICI Bank Acc XX424 debited with INR 500.00 o...,09:42.0,30:00.0,SmsMessageKind.sent,True,52:16.7,9182591745,Online_transaction,2023-03-09
5,6,asdfwe2342rqwerq,9182591745,15292,9717465555,9717465555,INR 179.00 spent on ICICI Bank Card XX1008 on ...,38:20.6,30:00.0,SmsMessageKind.sent,True,52:16.7,9182591745,Ecommerce,2023-03-16
6,7,asdfwe2342rqwerq,9182591745,15217,9717465555,9717465555,AccountNo XXXXXX3406 CREDIT with amount Rs.110...,22:54.6,30:00.0,SmsMessageKind.sent,True,52:16.7,9182591745,Card_payment,not found
7,8,asdfwe2342rqwerq,9182591745,13522,VM-AxisBk,VM-AxisBk,Debited INR.500.00 from A/c X2731 on 08-MAR-20...,22:28.3,22:28.0,SmsMessageKind.received,True,52:16.7,9182591745,Online_transaction,2023-03-08
8,9,asdfwe2342rqwerq,9182591745,13522,VM-AxisBk,VM-AxisBk,INR 500.00 debited from A/c XXXXXXXX3885 towar...,22:28.3,22:28.0,SmsMessageKind.received,True,52:16.7,9182591745,ATM,2023-03-09
9,10,asdfwe2342rqwerq,9182591745,13522,VM-AxisBk,VM-AxisBk,Dear Customer statement for YES BANK Credit Ca...,22:28.3,22:28.0,SmsMessageKind.received,True,52:16.7,9182591745,UPI,2023-04-04
10,11,asdfwe2342rqwerq,9182591745,13522,VM-AxisBk,VM-AxisBk,You've spent Rs.2514 On HDFC Bank CREDIT Card ...,22:28.3,22:28.0,SmsMessageKind.received,True,52:16.7,9182591745,Card_payment,2023-03-19
11,12,asdfwe2342rqwerq,9182591745,13522,VM-AxisBk,VM-AxisBk,INR 230.00 spent on ICICI Bank Card XX1008 on ...,22:28.3,22:28.0,SmsMessageKind.received,True,52:16.7,9182591745,Ecommerce,2023-03-30

In [ ]:
def uan_no(text):
    match = re.search(r"UAN\s*(\d+)", text)
    if match:
        value = match.group(1)
        print(value)

df['UAN'] = df['body'].apply(uan_no)

In [11]:
import pandas as pd
df = pd.read_excel("SMS Data.xlsx")
df

,Source,Sender ID,SMS_Details
0,Indian Bank,BT-INBN,"Hi Vasanthapathi, https://usage.%27%2C/ 👋 With..."
1,NaN,NaN,"Hi customer, what is next on your list? Make i..."
2,NaN,NaN,Rs.105 transferred from A/c ...5557 to:UPI/304...
3,NaN,NaN,Rs 60.00 debited from A/C XXXXXX5559 and credi...
4,State Bank of Mauritius,JD-SBMIN,"Dear Customer, IDBI Bank offers Auto Loan at l..."
...,...,...,...
298,NaN,BP-IOBCHN,Rs.3000.00 Credited to SB-xxx9488 AcBal:3484.6...
299,NaN,NaN,You've spent Rs.301 On HDFC Bank CREDIT Card x...
300,NaN,VX-ICICIB,INR 566.00 spent on ICICI Bank Card XX1008 on ...
301,NaN,VD-SMRTBY,Received! Your request for CashBack of Rs. 500...
302,NaN,VD-HDFCBK,You've spent Rs.147 On HDFC Bank CREDIT Card x...

In [2]:
# import re
# def add_space_to_amount(df, column_name):
#     pattern = r"\b(Rs|INR|Rs\.)\b\s?(\d+(?:\.\d{1,2})?)"
#     df[column_name] = df[column_name].apply(lambda x: re.sub(pattern, r'\1 \2', x))
#     return df

# add_space_to_amount(df,'SMS_Details')

In [3]:

#Basic check code
from ner_custom.utils.main_utils import *

SCHEMA_FILE_PATH = r"D:\Projects\NER_with_custom_data\config\schema.yaml"

schema_config = read_yaml_file(file_path=SCHEMA_FILE_PATH)

def add_space_to_amount(dataframe):

    raw_columns = schema_config['message_columns']
    pattern = r"(\bRs\b|\bINR\b|\bRs\.\b)\s?(\d+(?:\.\d{1,2})?)"
    dataframe[raw_columns] = dataframe[raw_columns].apply(lambda x: re.sub(pattern, r'\1 \2', str(x), flags=re.UNICODE))          
    return dataframe  

df_new = add_space_to_amount(df)
df_new

,Source,Sender ID,SMS_Details
0,Indian Bank,BT-INBN,"0 Hi Vasanthapathi, https://usage.%27%2C/..."
1,NaN,NaN,"0 Hi Vasanthapathi, https://usage.%27%2C/..."
2,NaN,NaN,"0 Hi Vasanthapathi, https://usage.%27%2C/..."
3,NaN,NaN,"0 Hi Vasanthapathi, https://usage.%27%2C/..."
4,State Bank of Mauritius,JD-SBMIN,"0 Hi Vasanthapathi, https://usage.%27%2C/..."
...,...,...,...
298,NaN,BP-IOBCHN,"0 Hi Vasanthapathi, https://usage.%27%2C/..."
299,NaN,NaN,"0 Hi Vasanthapathi, https://usage.%27%2C/..."
300,NaN,VX-ICICIB,"0 Hi Vasanthapathi, https://usage.%27%2C/..."
301,NaN,VD-SMRTBY,"0 Hi Vasanthapathi, https://usage.%27%2C/..."
302,NaN,VD-HDFCBK,"0 Hi Vasanthapathi, https://usage.%27%2C/..."

In [35]:
import re

def add_space_after_keyword(sentence):
    pattern = r"(?<=Rs\.)"
    modified_sentence = re.sub(pattern, " ", sentence)
    return modified_sentence

In [36]:
df['SMS_Details'] = df['SMS_Details'].apply(add_space_after_keyword)
df

,Source,Sender ID,SMS_Details
0,Indian Bank,BT-INBN,"Hi Vasanthapathi, https://usage.%27%2C/ 👋 With..."
1,NaN,NaN,"Hi customer, what is next on your list? Make i..."
2,NaN,NaN,Rs. 105 transferred from A/c ...5557 to:UPI/...
3,NaN,NaN,Rs 60.00 debited from A/C XXXXXX5559 and credi...
4,State Bank of Mauritius,JD-SBMIN,"Dear Customer, IDBI Bank offers Auto Loan at l..."
...,...,...,...
298,NaN,BP-IOBCHN,Rs. 3000.00 Credited to SB-xxx9488 AcBal:348...
299,NaN,NaN,You've spent Rs. 301 On HDFC Bank CREDIT Car...
300,NaN,VX-ICICIB,INR 566.00 spent on ICICI Bank Card XX1008 on ...
301,NaN,VD-SMRTBY,Received! Your request for CashBack of Rs. 50...
302,NaN,VD-HDFCBK,You've spent Rs. 147 On HDFC Bank CREDIT Car...

In [46]:
#UPdated code 

def add_space_before_bank(text_series):
    keywords = ['Canara Bank', 'Kotak Mahindra Bank', 'Indian Bank', 'Axis Bank']
    modified_text_series = text_series.copy()
    for i, text in enumerate(modified_text_series):
        for keyword in keywords:
            lowercase_keyword = keyword.lower()
            if text.lower().find(lowercase_keyword) != -1 and not text.lower().startswith(lowercase_keyword):
                modified_text_series[i] = text.replace(lowercase_keyword, ' ' + lowercase_keyword)
            uppercase_keyword = keyword.upper()
            if text.upper().find(uppercase_keyword) != -1 and not text.upper().startswith(uppercase_keyword):
                modified_text_series[i] = text.replace(uppercase_keyword, ' ' + uppercase_keyword)
            titlecase_keyword = keyword.title()
            if text.title().find(titlecase_keyword) != -1 and not text.title().startswith(titlecase_keyword):
                modified_text_series[i] = text.replace(titlecase_keyword, ' ' + titlecase_keyword)
    return modified_text_series

In [47]:

#Basic check code
from ner_custom.utils.main_utils import *

SCHEMA_FILE_PATH = r"D:\Projects\NER_with_custom_data\config\schema.yaml"

schema_config = read_yaml_file(file_path=SCHEMA_FILE_PATH)

def add_space_to_amount(dataframe):
    column_name = schema_config['message_columns']
    dataframe[column_name] = dataframe[column_name].apply(add_space_before_bank)
    return dataframe

df_new = add_space_to_amount(df)
df_new

,Source,Sender ID,SMS_Details
0,Indian Bank,BT-INBN,"Hi Vasanthapathi, https://usage.%27%2C/ 👋 With..."
1,NaN,NaN,"Hi customer, what is next on your list? Make i..."
2,NaN,NaN,Rs. 105 transferred from A/c ...5557 to:UPI/...
3,NaN,NaN,Rs 60.00 debited from A/C XXXXXX5559 and credi...
4,State Bank of Mauritius,JD-SBMIN,"Dear Customer, IDBI Bank offers Auto Loan at l..."
...,...,...,...
298,NaN,BP-IOBCHN,Rs. 3000.00 Credited to SB-xxx9488 AcBal:348...
299,NaN,NaN,You've spent Rs. 301 On HDFC Bank CREDIT Car...
300,NaN,VX-ICICIB,INR 566.00 spent on ICICI Bank Card XX1008 on ...
301,NaN,VD-SMRTBY,Received! Your request for CashBack of Rs. 50...
302,NaN,VD-HDFCBK,You've spent Rs. 147 On HDFC Bank CREDIT Car...

In [18]:

pattern = r"\d+\.?\d{0,2}$"


for ind in df.index:
    value = df['SMS_Details'][ind]
    def _add_space(value):
        if isinstance(value, str) and re.match(pattern, value):
            return " " + value
        else:
            return value
    df["SMS_Details"] = df['SMS_Details'].apply(_add_space)
    
# df

,Source,Sender ID,SMS_Details
0,Indian Bank,BT-INBN,"Hi Vasanthapathi, https://usage.%27%2C/ 👋 With..."
1,NaN,NaN,"Hi customer, what is next on your list? Make i..."
2,NaN,NaN,Rs.105 transferred from A/c ...5557 to:UPI/304...
3,NaN,NaN,Rs 60.00 debited from A/C XXXXXX5559 and credi...
4,State Bank of Mauritius,JD-SBMIN,"Dear Customer, IDBI Bank offers Auto Loan at l..."
...,...,...,...
298,NaN,BP-IOBCHN,Rs.3000.00 Credited to SB-xxx9488 AcBal:3484.6...
299,NaN,NaN,You've spent Rs.301 On HDFC Bank CREDIT Card x...
300,NaN,VX-ICICIB,INR 566.00 spent on ICICI Bank Card XX1008 on ...
301,NaN,VD-SMRTBY,Received! Your request for CashBack of Rs. 500...
302,NaN,VD-HDFCBK,You've spent Rs.147 On HDFC Bank CREDIT Card x...